<h1>Welcome to KefteMarket</h1>
<form (ngSubmit)="onSubmit()">
  <div class="formField">
    <label for="username">username</label>
    <input type="username" id="username" name="username" [(ngModel)]="username" required placeholder="your login">
  </div>
  <div class="formField">
    <label for="password">password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="your password">
  </div>
  <button type="submit" class="blueButton">Login</button>
</form>

<div class="addLoginFunc"><a>Forgot password?</a></div>
<div class="addLoginFunc"><a>Privacy</a></div>
<div class="divisor"></div>
<div class="addLoginFunc">Don't have an account? <button class="fakeA" (click)="this.welcomePageComponent.toNewAcc()">Sign Up</button></div>
