*{
  font-family: Arial;
}

.page-borders{
  margin: 0 5%;
}

.order-card{
  position: relative;
  width: auto;
  max-width: 600px;
  height: auto;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.ordered-product{
  margin: 5px 20px;
}
h2{
  margin: 10px 0;
}
